/* 
STROBE HTML:

<div class="glitch" data-text="Strobocops">

    <span class="glitch__color glitch__color--red">Strobocops</span>
    <span class="glitch__color glitch__color--blue">Strobocops</span>
    <span class="glitch__color glitch__color--green">Strobocops</span>
    <span class="glitch__main">Strobocops</span>
    <span class="glitch__line glitch__line--first"></span>
    <span class="glitch__line glitch__line--second"></span>
</div> */

.glitch {
    animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
    font-family: orbitron, sans-serif;
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform-origin: center top;
  }
  .glitch__main {
    color: #FFF;
  }
  .glitch__color {
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    transform-origin: center center;
    width: 100%;
    z-index: -1;
  }
  .glitch__color--red {
    animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    color: red;
  }
  .glitch__color--blue {
    animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
    color: blue;
  }
  .glitch__color--green {
    animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
    color: #00FF0B;
  }
  .glitch__line {
    animation: glitch-line 2s linear infinite;
    background: #000;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .glitch__line--first {
    animation: glitch-line 2s linear infinite;
  }
  .glitch__line--second {
    animation: glitch-line 1s linear 1s infinite;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-8px, 8px);
    }
    40% {
      transform: translate(-8px, -8px);
    }
    60% {
      transform: translate(8px, 8px);
    }
    80% {
      transform: translate(8px, -8px);
    }
    100% {
      transform: translate(0);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(0deg, 0deg);
    }
    48% {
      transform: skew(0deg, 0deg);
      filter: blur(0);
    }
    50% {
      transform: skew(-20deg, 0deg);
      filter: blur(4px);
    }
    52% {
      transform: skew(20deg, 0deg);
    }
    54% {
      transform: skew(0deg, 0deg);
      filter: blur(0);
    }
    100% {
      transform: skew(0deg, 0deg);
    }
  }
  @keyframes glitch-line {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
  .stars {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .stars__star {
    border-radius: 50%;
    box-shadow: 0 0 4px 1px #FFF;
    height: 1px;
    position: absolute;
    width: 1px;
    z-index: 100;
  }
  .stars__star:nth-child(1) {
    top: 80%;
    left: 45%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(2) {
    top: 73%;
    left: 67%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(3) {
    top: 51%;
    left: 56%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(4) {
    top: 34%;
    left: 80%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(5) {
    top: 90%;
    left: 26%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(6) {
    top: 62%;
    left: 93%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(7) {
    top: 37%;
    left: 31%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(8) {
    top: 16%;
    left: 29%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(9) {
    top: 96%;
    left: 18%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(10) {
    top: 96%;
    left: 75%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(11) {
    top: 22%;
    left: 7%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(12) {
    top: 29%;
    left: 25%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(13) {
    top: 38%;
    left: 13%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(14) {
    top: 44%;
    left: 25%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(15) {
    top: 27%;
    left: 59%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(16) {
    top: 25%;
    left: 57%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(17) {
    top: 39%;
    left: 65%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(18) {
    top: 14%;
    left: 40%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(19) {
    top: 19%;
    left: 55%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(20) {
    top: 57%;
    left: 61%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(21) {
    top: 52%;
    left: 69%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(22) {
    top: 92%;
    left: 88%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(23) {
    top: 15%;
    left: 12%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(24) {
    top: 69%;
    left: 55%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(25) {
    top: 89%;
    left: 13%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(26) {
    top: 50%;
    left: 16%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(27) {
    top: 52%;
    left: 16%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(28) {
    top: 98%;
    left: 28%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(29) {
    top: 70%;
    left: 2%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(30) {
    top: 87%;
    left: 38%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(31) {
    top: 78%;
    left: 72%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(32) {
    top: 37%;
    left: 61%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(33) {
    top: 84%;
    left: 67%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(34) {
    top: 71%;
    left: 35%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(35) {
    top: 26%;
    left: 70%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(36) {
    top: 31%;
    left: 3%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(37) {
    top: 17%;
    left: 94%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(38) {
    top: 87%;
    left: 53%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(39) {
    top: 24%;
    left: 33%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(40) {
    top: 55%;
    left: 71%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(41) {
    top: 73%;
    left: 8%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(42) {
    top: 10%;
    left: 21%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(43) {
    top: 16%;
    left: 76%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(44) {
    top: 43%;
    left: 12%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(45) {
    top: 79%;
    left: 31%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(46) {
    top: 13%;
    left: 5%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(47) {
    top: 99%;
    left: 56%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(48) {
    top: 32%;
    left: 38%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(49) {
    top: 42%;
    left: 69%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(50) {
    top: 25%;
    left: 63%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(51) {
    top: 91%;
    left: 66%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(52) {
    top: 62%;
    left: 68%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(53) {
    top: 16%;
    left: 34%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(54) {
    top: 29%;
    left: 84%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(55) {
    top: 10%;
    left: 30%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(56) {
    top: 93%;
    left: 54%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(57) {
    top: 41%;
    left: 89%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(58) {
    top: 34%;
    left: 59%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(59) {
    top: 97%;
    left: 30%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(60) {
    top: 59%;
    left: 32%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(61) {
    top: 9%;
    left: 25%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(62) {
    top: 33%;
    left: 82%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(63) {
    top: 22%;
    left: 34%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(64) {
    top: 96%;
    left: 22%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(65) {
    top: 12%;
    left: 6%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(66) {
    top: 90%;
    left: 17%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(67) {
    top: 73%;
    left: 67%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(68) {
    top: 96%;
    left: 8%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(69) {
    top: 70%;
    left: 66%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(70) {
    top: 33%;
    left: 2%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(71) {
    top: 42%;
    left: 5%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(72) {
    top: 92%;
    left: 76%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(73) {
    top: 100%;
    left: 86%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(74) {
    top: 35%;
    left: 1%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(75) {
    top: 44%;
    left: 31%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(76) {
    top: 90%;
    left: 88%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(77) {
    top: 34%;
    left: 27%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(78) {
    top: 19%;
    left: 63%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(79) {
    top: 90%;
    left: 88%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(80) {
    top: 8%;
    left: 59%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(81) {
    top: 62%;
    left: 3%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(82) {
    top: 27%;
    left: 72%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(83) {
    top: 32%;
    left: 92%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(84) {
    top: 6%;
    left: 41%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(85) {
    top: 57%;
    left: 63%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(86) {
    top: 72%;
    left: 68%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(87) {
    top: 95%;
    left: 2%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(88) {
    top: 41%;
    left: 23%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(89) {
    top: 71%;
    left: 36%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(90) {
    top: 15%;
    left: 29%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(91) {
    top: 34%;
    left: 24%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(92) {
    top: 53%;
    left: 98%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(93) {
    top: 26%;
    left: 76%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(94) {
    top: 67%;
    left: 82%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(95) {
    top: 73%;
    left: 51%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(96) {
    top: 27%;
    left: 99%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(97) {
    top: 25%;
    left: 9%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(98) {
    top: 36%;
    left: 100%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(99) {
    top: 68%;
    left: 15%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(100) {
    top: 66%;
    left: 15%;
    box-shadow: 0 0 4px 1px #FFF;
  }