/* Possible Colors (early 90's arcade themed) */

/* 
#FF0066 = Neon Pink
#FF00 = Neon Green
#FFFF00 = Neon Yellow
#FF3300 = Neon Orange
#FF0009 = Neon Red
#56600FF = Neon Purple
#FF99 = Neon Mint Green
#BF = Neon Dark Blue
#FF = Neon Blue
#FFFF = Light Blue 

Radical Red	#FF355E
Wild Watermelon	#FD5B78
Outrageous Orange	#FF6037
Atomic Tangerine	#FF9966
Neon Carrot	#FF9933
Sunglow	#FFCC33
Laser Lemon	#FFFF66
Unmellow Yellow	#FFFF66
Electric Lime	#CCFF00
Screamin' Green	#66FF66
Magic Mint	#AAF0D1
Blizzard Blue	#50BFE6
Shocking Pink	#FF6EFF
Razzle Dazzle Rose	#EE34D2
Hot Magenta	#FF00CC
Purple Pizzazz	#FF00CC */


/* Good JS animations to use for text:

STROBE (for text)
Stars (for the background)



Links to other JS/CSS animations:

https://codemyui.com/neon-text-flickering-effect/


Google Fonts:

Press Start 2P : 
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
font-family: 'Press Start 2P', cursive;

Stylish: 
<link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet"> 
font-family: 'Stylish', sans-serif;


Yesteryear:
<link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet"> 
font-family: 'Yesteryear', cursive;

/*